<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      {{ 'BIENVENIDO'}}
    </div>
  </div>
  <div padding>
    <button ion-button block (click)="signup()">{{ 'REGISTRARSE'}}</button>
    <button ion-button block (click)="login()" class="login">{{ 'INICIAR SESIÓN'}}</button>
  </div>
</ion-content>
