<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      My Calendars
    </ion-title>
    <ion-buttons ends>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content>
 <calendar [eventSource]="eventSource"
 [calendarMode]="calendar.mode"
 [currentDate]="calendar.currentDate"
 (onEventSelected)="onEventSelected($event)"
 (onTitleChanged)="onViewTitleChanged($event)"
 (onTimeSelected)="onTimeSelected($event)"
 step="30"
 class="calendar">
 </calendar>
  
</ion-content>